.non {
  align-items: center;
  background-color: cadetblue;
  color: white;
  padding: 20px;
}
.non h1 {
  margin-left: 20px;
}
.non h2 {
  margin-left: 20px;
}
.non p {
  margin-left: 20px;
  font-size: larger;
}
.non1 {
  align-items: center;
  padding: 20px;
  color: white;
  background: rebeccapurple;
}
.non1 h1 {
  margin-left: 20px;
}
.non1 h2 {
  margin-left: 20px;
}
.non1 p {
  margin-left: 20px;
}
.Nobutton {
  font-size: 2rem;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
}
